:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);

  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

* {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 375px;
  margin: 0 16px;
  height: 100vh;
}

ul {
  padding: 0;
  list-style-type: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  width: 100%;
}

header img {
  width: 40px;
  height: 25px;
}

header .desktop-menu {
  display: none;
}

.mobile-menu {
  height: 65px;
}

#menuToggle {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25px;
  left: 0px;
  z-index: 0;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  opacity: 0;
  z-index: 2;
}

#menuToggle span {
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #000;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #36383f;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 290px;
  height: 100vh;
  box-shadow: 0 0 10px #85888c;
  margin: -50px 0 0 -50px;
  padding: 50px 50px 50px 30px;
  padding-top: 125px;
  background-color: #f5f6fa;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(80%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  transition-delay: 2s;
}

#menu li a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
  color: var(--very-dark-blue);
}

#menu li a:active {
  color: var(--soft-orange);
}

#menuToggle input:checked ~ ul {
  transform: translate(-55%, 0);
}

/*  Main  */

.main-post h1 {
  color: var(--very-dark-blue);
  font-weight: 800;
  font-size: 38px;
  line-height: 38px;
  padding: 32px 48px 0 0;
}

.main-post p {
  font-size: 15px;
  color: var(--dark-grayish-blue);
  margin: 16px 0;
}

.main-post button {
  color: var(--off-white);
  background: var(--soft-red);
  padding: 10px 24px;
  margin: 16px 0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 5px;
  border: none;
}

/*  News  */

.side-bar {
  margin: 18px 0;
  background: var(--very-dark-blue);
  padding: 16px;
}

.side-bar h3 {
  font-size: 32px;
  color: var(--soft-orange);
}

.side-bar .post-list .post p {
  font-weight: 700;
  color: var(--off-white);
  font-size: 20px;
  margin: 32px 0 16px 0;
}

.side-bar .post-list .post span {
  color: var(--grayish-blue);
  font-size: 16px;
}

.side-bar .post-list .post .line-div {
  width: 100%;
  height: 1px;
  background: var(--grayish-blue);
  margin: 32px 0;
}

/* TOP Post List */

.top-post-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 32px 0;
}

.top-post-list .top-post {
  display: flex;
  gap: 16px;
}

.top-post-list .top-post img {
  width: 30%;
}

.top-post-list .top-post .info-post h3 {
  color: var(--grayish-blue);
  font-size: 32px;
}

.top-post-list .top-post .info-post p {
  color: var(--very-dark-blue);
  font-weight: 800;
  font-size: 18px;
}

.top-post-list .top-post .info-post span {
  color: var(--grayish-blue);
}

.attribution {
  text-align: center;
  margin: 32px 0;
  padding-top: 16px;
  border-top: 1px solid var(--grayish-blue);
}

.attribution a {
  text-decoration: none;
  color: var(--very-dark-blue);
  font-weight: 800;
}

@media screen and (min-width: 1300px) {
  .container {
    max-width: 1200px;
    margin: 32px auto;
  }

  header {
    overflow: auto;
    display: flex;
    justify-content: space-between;
  }

  header .desktop-menu {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-menu {
    display: none;
  }

  .desktop-menu a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: var(--very-dark-blue);
  }

  .desktop-menu a:active,
  .desktop-menu a:hover {
    color: var(--soft-orange);
  }

  main {
    margin: 60px 0 30px 0;
  }

  .grid-area {
    display: grid;
    grid-template-areas:
      "main-post main-post main-post side-bar"
      "top-list top-list top-list top-list";
  }

  .main-post {
    display: grid;
    grid-area: main-post;
    margin-right: 32px;

    grid-template-areas:
      "main-img main-img main-img"
      "main-title main-paragraph main-paragraph"
      "main-title main-btn main-btn";
  }

  .main-post img {
    height: 370px;
    width: 100%;
    object-fit: cover;
    grid-area: main-img;
  }

  .main-post h1 {
    grid-area: main-title;
    font-size: 50px;
    line-height: 50px;
  }

  .main-post p {
    grid-area: main-paragraph;
    font-size: 16px;
  }

  .main-post button {
    grid-area: main-btn;
    width: 50%;
    cursor: pointer;
    transition: all 0.4s;
  }

  .main-post button:hover {
    background: var(--soft-orange);
  }

  .side-bar {
    grid-area: side-bar;
    margin: 0;
  }

  .main-post,
  .side-bar {
    margin-bottom: 32px;
  }

  .top-post-list {
    grid-area: top-list;
    flex-direction: row;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1300px;
    margin: 32px auto;
  }
}

@media screen and (min-width: 1500px) {
  .container {
    max-width: 1440px;
    margin: 32px auto;
  }
}
